.dojoxTitledPaneContent {
	overflow: auto;
	background-color: #fff; 
	height: 100%; 
	width:	100%; 
}
.dojoxTitledContentPane {
	background-color:#fff;
	position:relative; 
	border: 1px solid #dedede; 
	-webkit-box-shadow: 0px 5px 10px #adadad;
}
.dojoxTitledContentPaneTitle {
	background: #cccccc;
	background:#fafafa repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
	cursor: pointer;
	white-space: nowrap;
}
.soria .dojoxTitledContentPaneTitle {
	background:#fff url("../../../../../../dojo-1.1.1/dijit/themes/soria/images/titleBar.png") repeat-x top left;
	border:1px solid #b1badf;
	font-size: 0.9em;
	font-weight: bold;
	line-height:1.2em;
}
.tundra .dojoxTitledContentPaneTitle {
	background:#fafafa url("../../../../../../dojo-1.1.1/dijit/themes/tundra/images/titleBarBg.gif") repeat-x bottom left;
	border:1px solid #bfbfbf;
	color:#000; 	
}

.dojoxTitledContentPaneContent {
	overflow: auto;
	background-color: #fff; 
	height: 100%; 
	width:	100%; 
}
.dojoxTitledContentPaneCanvas {
	background-color:#fff;
}
