<div>
  <div  class="tablediv">
    <div class="rowdiv">
      <div  class="celldivtitle">${_streetLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_street"
          required="true"/>
      </div>
    </div>
    <div class="rowdiv">
      <div  class="celldivtitle">${_postalCodeLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_postalCode"
          required="true"/>
      </div>
      <div  class="celldivtitle">${_cityNameLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_cityName"
          required="true"/>
      </div>      
    </div>
    <div class="rowdiv">
      <div  class="celldivtitle">${_countryLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.ComboBox"
          dojoAttachPoint="_country"
          required="true"/>
      </div>
    </div>
  </div>
</div>
