<div class="dijit dijitReset dijitInline dijitLeft dijitLocalizedTextBox"
  ><div class="dijitReset" style="float: left; width: 15%;"
    ><input class="dijitReset" dojoType="org.ppwcode.dojo.dojox.DataDropDown" store="${localesDataStore}" dojoAttachPoint="_localeDropDownSelect" 
  /></div
  ><div class="dijitReset dijitLeft" style="position: relative; top: 0px; display: inline-block; float: right; margin: 3px 0 0 0; width: 90%;"
      ><input dojoType="dijit.form.TextBox" dojoAttachPoint="_descriptionTextBox" style="width: 100%;"
  /></div
></div>
