<div>
  <div  class="tablediv">
    <div class="rowdiv">
      <div  class="celldivtitle">${_dateLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.DateTextBox"
          dojoAttachPoint="_dateBox"
          required="true"/>
      </div>
    </div>
    <div class="rowdiv">
      <div  class="celldivtitle">${_startDateLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.TimeTextBox"
          dojoAttachPoint="_startTimeBox"
          required="true"/>
      </div>
    </div>
    <div class="rowdiv">
      <div  class="celldivtitle">${_endDateLabel}</div>
      <div  class="celldivcontent">
        <input
          dojoType="dijit.form.TimeTextBox"
          dojoAttachPoint="_endTimeBox"
          required="true"/>
      </div>
    </div>
  </div>
</div>
