<div>
  <table>
    <tr>
      <td width="${_labelWidth}">${_dateLabel}</td>
      <td width=${_dataWidth}>
        <input 
          dojoType="dijit.form.DateTextBox" 
          dojoAttachPoint="_dateBox"
          required="true"/>
      </td>
    </tr>
    <tr>
      <td>${_startDateLabel}</td>
      <td>
        <input 
          dojoType="dijit.form.TimeTextBox" 
          dojoAttachPoint="_startTimeBox"
          required="true"/>
      </td>
    </tr>
    <tr>
      <td>${_endDateLabel}</td>
      <td>
        <input 
          dojoType="dijit.form.TimeTextBox" 
          dojoAttachPoint="_endTimeBox"
          required="true"/>
      </td>
    </tr>
  </table>
</div>
