.tablediv {
	display: table;
	width: 290px;
	border-collapse: separate;
}

.celldiv {
	float: left; /*fix for  buggy browsers*/
	display: table-cell;
	width: 33%;
	background-color: #ccc;
}

.celldivtitle {
	float: left; /*fix for  buggy browsers*/
	display: table-cell;
	width: 60px;
	padding: 1px;
}

.celldivcontent {
	float: left; 
	display: table-cell;
	width: 224px;
	padding: 1px;
}

.celldivtitlePC {
	float: left; 
	display: table-cell;
	width: 60px;
	padding: 1px;	
}

.celldivcontentPC {
	float: left; 
	display: table-cell;
	width: 40px;
	padding: 1px;	
}

.celldivtitleC {
	float: left; 
	display: table-cell;
	width: 80px;
	padding: 1px;	
	text-align: right;
}

.celldivcontentC {
	float: left;
	display: table-cell;
	width: 100px;
	padding: 1px;	
}

.fullLength {
	width: 100%;
}

.rowdiv {
	display: table-row;
	width: auto;
}