<div>
  <div class="tablediv">
    <div class="rowdiv">
      <div class="celldivtitle">${_streetLabel}</div>
      <div class="celldivcontent">
        <input
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_streetBox"
          class="fullLength"
          required="true"/>
      </div>
    </div>
    <div class="rowdiv">
      <div class="celldivtitlePC">${_postalCodeLabel}</div>
      <div class="celldivcontentPC">
        <input
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_postalCodeBox"
          class="fullLength"
          required="true"/>
      </div>
      <div class="celldivtitleC">${_cityNameLabel}</div>
      <div class="celldivcontentC">
        <input
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_cityBox"
          class="fullLength"
          required="true"/>
      </div>
    </div>
    <div class="rowdiv">
      <div class="celldivtitle">${_countryLabel}</div>
      <div class="celldivcontent">
        <input
          dojoType="dijit.form.FilteringSelect"
          store="${countryDataStore}"
          dojoAttachPoint="_countryBox"
          class="fullLength"
          required="true"/>
      </div>
    </div>
  </div>
</div>
