<div>
  <div class="tablediv">
    <div class="rowdiv">
      <div class="celldivtitle">${_streetLabel}</div>
      <div class="celldivcontent">
        <input
          class="dijit dijitReset dijitLeft fullLength"
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_streetBox"
          required="${required}"/>
      </div>
    </div>
    <div class="rowdiv">
      <div class="celldivtitle">${_postalCodeLabel}</div>
      <div class="celldivcontent">
        <input
          class="dijit dijitReset dijitLeft fullLength"
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_postalCodeBox"
          required="${required}"/>
      </div>
      <div class="celldivtitle">${_cityNameLabel}</div>
      <div class="celldivcontent">
        <input
          class="dijit dijitReset dijitLeft fullLength"
          dojoType="dijit.form.TextBox"
          dojoAttachPoint="_cityBox"
          required="${required}"/>
      </div>
    </div>
    <div class="rowdiv">
      <div class="celldivtitle">${_countryLabel}</div>
      <div class="celldivcontent">
        <input
          class="dijit dijitReset dijitLeft fullLength"
          dojoType="dijit.form.FilteringSelect"
          store="${countryDataStore}"
          dojoAttachPoint="_countryBox"
          required="${required}"/>
      </div>
    </div>
  </div>
</div>
