<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserManagement.Data.Properties.Settings.userManagementConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=zetes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>