<div class="dijit dijitReset dijitInline dijitLeft dijitLocalizedTextBox"
  ><div class="dijitReset" style="float: left; width: 15%;"
    ><input class="dijitReset" dojoType="org.ppwcode.dojo.dojox.DataDropDown" store="${localesDataStore}" dojoAttachPoint="_localeDropDownSelect" 
  /></div
  ><div class="dijitReset dijitLeft" style="display: inline-block; margin: 3px 0 0 0; width: 85%;"
    ><input dojoType="dijit.form.TextBox" dojoAttachPoint="_descriptionTextBox" style="width: 100%;"
  /></div
></div>
