<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CreatePartialMethods.Properties.Settings.zetesConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=zetes_registration;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>